.FiltersWrapper {
  display: flex;
  column-gap: 16px;
  margin-bottom: 2.4rem;
  margin-top: 1.6rem;
  flex-wrap: wrap;
  [class~="Polaris-TextField__Backdrop"], [class~="Polaris-Button"] {
    border: 1px solid #C4CDD5;
  }
  [class~="Polaris-TextField__Input:focus ~ .Polaris-TextField__Backdrop::after"] {
    -webkit-box-shadow: none;
    box-shadow: none;
    outline: none;
  }
  [class~="Polaris-TextField"] {
    svg {
      fill: #31373D;
    }
  }
  &__sortingPicker {
    width: 100%;
    max-width: 160px;
    @media screen and (max-width: 480px) {
      max-width: 100%;
      margin-bottom: 1.6rem;
    }
    button {
      width: 100%;
    }
  }
  &__search {
    margin-right: auto;
    width: 100%;
    max-width: 280px;

    @media screen and (max-width: 991px) {
      max-width: 100%;
      margin-bottom: 1.6rem;
    }

    input {
      font-size: 15px;
    }
  }
  &__datePicker {
    width: 100%;
    max-width: 160px;

    @media screen and (max-width: 480px) {
      max-width: 100%;
    }

    button {
      width: 100%;
    }
  }
}

