.DatePicker {
  &__activator {
    button {
      [class~="Polaris-Button__Icon"] {
        margin-right: 6px;
      }

      [class~="Polaris-Button__Text"] {
        font-weight: bold;
        color: #6f6f6f;
        font-size: 14px;
      }
    }
  }

  &__content {
    padding: 20px;
  }
}
