.OrdersPagination {
  border-top: 1px solid #dfe3e8;
  display: flex;
  align-items: center;
  padding: 0.9rem 3.2rem;
  @media (max-width: 480px) {
    padding: 0.9rem 1.6rem;
    flex-wrap: wrap;
  }
  &__buttons {
    margin: 0 auto;
    @media (max-width: 991px) {
      margin: 0 auto 0 0;
    }
    button {
      max-width: 36px;
    }
  }

  &__count {
    color: #6f6f6f;
    font-size: 12px;
    font-weight: bold;
  }

  [class~="Polaris-Icon__Svg"] {
    fill: #31373D;
  }
}
