.ChartTypeToggle {
  [class ~= 'Polaris-ButtonGroup'] {
    width: 73px;
    height: 28px;
    border: 1px solid #24303E;
    border-radius: 20px;
    justify-content: center;
    [class~='Polaris-ButtonGroup__Item']:not(:first-child) {
        margin-left: 0.3rem;
    }
  }

  [class ~= 'Polaris-Button'] {
    padding: 0;
    width: 32px;
    height: 22px;
    min-height: auto;
    min-width: auto;
    border: none;
    svg {
      path {
        fill: #24303E;
        stroke: #24303E;
      }
    }
  }

  [data-buttongroup-segmented='true'] > :first-child [class ~= 'Polaris-Button'],
  [data-buttongroup-segmented='true'] > :last-child [class ~= 'Polaris-Button'] {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-radius: 10px;
  }

  [class ~= 'Polaris-Button--primary'] {
    background-color: #24303E;

    svg {
      path {
        fill: #FFFFFF;
        stroke: #FFFFFF;
      }
    }
  }

  [class ~= 'Polaris-Icon'] {
    width: auto;
    height: auto;
  }

  @media screen and (max-width: 767px) {
    transform: scale(0.825);
  }
  @media screen and (max-width: 575px) {
    transform: scale(0.75);
  }
}
