.Chart {
  position: relative;
  background: #FFFFFF;
  box-sizing: border-box;
  box-shadow: inset 0 0 0 1px rgba(102, 113, 123, 0.25), inset 0 1px 2px rgba(102, 113, 123, 0.21);
  border-radius: 3px;
  padding: 1.9rem 3.2rem;
  @media screen and (max-width: 480px) {
      padding:1rem 1.5rem;
  }
  &__title {
    font-weight: bold;
    font-size: 1.8rem;
    line-height: 2rem;
    font-style: normal;
    letter-spacing: 0.8px;
  }
  &__switcher {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
  }
}
.optionsWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3rem;
}

