.OrdersTable__status {
  color: white;
  font-size: 14px;
  font-weight: bold;
  display: block;
  width: 125px;
  height: 31px;
  border-radius: 100px;
  padding: 5px 0;
  text-align: center;
  margin: 0 auto;
}

.TextWrapper {
  [class~="Polaris-DisplayText"] {
    margin-bottom: 1.2rem;
  }
}

.cardWrapper {
  display: flex;
  [class~="Polaris-Card"] {
    height: 100%;
    width: 100%;
  }
}

.loading {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 67rem;
}

.mainContent {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
