.tableWrapper {
  margin-top: 0.8rem;
  [class~="Polaris-Card"] {
    height: 31.7rem;
  }
  [class ~= 'Polaris-Heading'] {
    margin: 0 0 0.9rem 0;
  }
  [class~="Polaris-DataTable__Cell"] {
    color: #6F6F6F;
  }
  [class~="Polaris-DataTable__Table"] {
    thead {
      [class~="Polaris-DataTable__Cell--header"] {
        color: #000;
        font-weight: bold;
        border-color: #dfe3e8;
      }
    }
    [class~="Polaris-DataTable__Cell"] {
      text-align: center;
      a {
        color: #1458EA;
      }
    }
    [class~="Polaris-DataTable__Cell--firstColumn"] {
      text-align: left;
      padding-left: 3.2rem;
      @media screen and (max-width: 480px) {
        padding-left: 1.6rem;
      }
    }
  }
}

.spinnerWrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
