.NavigationWrapper {
  [class ~= 'Polaris-Navigation__PrimaryNavigation'] {
    padding-top: 3.9rem;
  }
  [class~="Polaris-Navigation__LogoContainer"] {
    background-color:#24303E;
  }
  [class ~= 'Polaris-Navigation__Item'] {
    margin: 0 1rem 0 1.4rem;
    padding: 0 1rem;
    font-weight: normal;
    align-items: center;
    &:hover {
      color: #24303E;
      svg {
        fill: #24303E;
      }
    }
  }
  [class ~= 'Polaris-Navigation__Item--selected'] {
    color: #24303E;
    font-weight: 600;
    background-color: rgba(36, 48, 62, 0.1);
    svg {
      fill: #24303E;
    }
    &:before {
      left: -1.2rem;
      background-color: #24303E;
      width: 0.4rem;
    }
  }
  [class ~= "Polaris-Navigation__Icon"] {
    @media (min-width: 48.0625em) {
      margin-top: 1rem;
      margin-bottom: 1rem;
    }
  }
}
