.ProfileSkeleton {
  width: 25rem;
  margin-right: 3.2rem;

  &__text {
    width: 12rem;

    [class~="Polaris-SkeletonDisplayText--sizeSmall"] {
      height: 2rem;
    }

    [class~="Polaris-TextContainer"] {
      > *:not(:first-child) {
        margin-top: 1rem;
      }
    }
  }
}
