.FormWrapper {
  padding: 0 4.2rem;
  margin-top: 5.6rem;
  width: 100%;

  [class ~= 'Polaris-FormLayout'] {
    display: flex;
    margin-left: 0;
  }

  [class ~= 'Polaris-FormLayout__Item'] {
    margin: 0;
    flex: auto;
  }

  [class ~= 'Polaris-Button--primary'] {
    margin-left: 1rem;
  }

}
