.stackWrapper {
  [class~="Polaris-Stack"] {
    margin-top: 0;
  }
  [class~="Polaris-Stack__Item"] {
    flex: 1;
    margin-top: 0.8rem;
  }
  [class~="Polaris-Stack__Item--fill"] {
    text-align: right;
  }
}

.strong {
  font-weight: 700;
}
