[class~="Polaris-Popover"] {
  margin-top: 1.6rem;
}
[class~="Polaris-Popover__Content"] {
  min-width: 20.9rem;
  max-width: 29rem;
  min-height: 29rem;
  max-height: 51rem;
  [class~="Polaris-ActionList"] {
    padding: 1.8rem 0;
    [class~="Polaris-ActionList__Actions"] {
      padding: 0 0.5rem;
    }
    [class~="Polaris-ActionList__Item"] {
      padding: 1rem 0.8rem;
    }
    [class~="Polaris-ActionList--active"] {
      &::before {
        left: -0.5rem;
      }
    }
  }
}
