.wrapperTopBar {
  [class ~= 'Polaris-TopBar'] {
    background-color: #24303E;
    height: 64px;
    [class ~= 'Polaris-TopBar-Menu__Activator'] {
      margin-right: 1.7rem;
    }
  }
  [class ~= 'Polaris-TopBar-UserMenu__Details'] {
    p {
      color: #fff;
      line-height: 20px;
    }
  }

  [class ~='Polaris-Avatar--sizeSmall'] {
    width: 3.6rem;
    border: 1px solid #ffffff;
  }

  [class ~='Polaris-TopBar__NavigationIcon'] {
    fill: #fff;
    margin-left: 1.7rem;
    &:hover {
      background: none;
    }
  }

  [class ~='Polaris-TopBar-UserMenu__Detail'] {
    font-size: 1rem;
  }

  [class ~='Polaris-TopBar-UserMenu__Name'] {
    font-size: 1.5rem;
    font-weight: 700;
  }
}
