.OrdersTable {
  [class~="Polaris-DataTable__Cell"] {
    text-align: center;
    color: #6F6F6F;
    a {
      color: #1458EA;
    }
    &:last-child {
      padding: 1.1rem;
    }
  }
  [class~="Polaris-DataTable__Heading"] {
    svg {
      fill: #121212;
    }
  }
  [class~="Polaris-DataTable__Icon"] {
    opacity: 1;
  }
  [class~="Polaris-DataTable__Table"] {
    thead {
      [class~="Polaris-DataTable__Cell--header"], [class~="Polaris-DataTable__Heading"] {
        border-color: #dfe3e8;
        font-weight: bold;
        color: #000;
        flex-direction: row;
      }
    }
  }
}
