.orderHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  [class~="Polaris-DisplayText"] {
    margin-right: 1.3rem;
  }
  .titleWrapper {
    display: flex;
    align-items: center;
  }
  @media (max-width: 480px) {
    [class~="Polaris-Button"] {
      margin: 1rem 0;
    }
  }
}

