.UserMenuWrapper {
  [class~="Polaris-TopBar-Menu__Activator"] {
    &:hover {
      background-color: transparent;
    }
  }
  [class~="Polaris-TopBar-UserMenu__Detail"] {
    opacity: 1;
    font-weight: 400;
  }
}
