.lineItem {
  display: inline-flex;
  align-items: center;
}

.listWrapper {
  [class~="Polaris-Stack"] {
    align-items: center;
  }
  [class~="Polaris-List"] {
    list-style: none;
    padding-left: 0;
  }
  [class~="Polaris-List__Item"] {
    padding-bottom: 2rem;
  }
}
.imageWrapper {
  margin-right: 2rem;
  position: relative;
  max-width: 48px;
  [class~="Polaris-Badge"] {
    position: absolute;
    z-index: 99;
    top: -1rem;
    right: -1rem;
  }
  [class~="Polaris-Icon"] {
    svg {
      fill: rgba(92, 95, 98, 1);
    }
  }
}

